* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1e292e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: scroll;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://www.mentalup.co/samples/img/game-v2/game24/background.png') no-repeat center center fixed;
    background-size: 100% 100%;
    width: 80vw;
    height: 530px;
}

#box-grid {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-gap: 2vmin;
}

#count-three-second {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;

}

#pause-icon {
    cursor: pointer;
    font-size: 7vmin;
}

#heading {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    width: 80vw;
    position: absolute;
    top: 5%;
    color: #441306;
}

#score-timer {
    display: flex;
    gap: 2rem;
    font-size: 5vmin;
    font-weight: bold;
}

#modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
    color: gray;
}

#modal-memory-card {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
}

#modal-container p {
    font-size: 1.1rem;
    font-family: sans-serif;

}

#modal-button {
    display: flex;
    gap: 1rem;
    margin-top: -1rem;

}

#play-button {
    width: 4rem;
    height: 4rem;
    background-color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 10px;
    cursor: pointer;
}

#refresh-button {
    width: 4rem;
    height: 4rem;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width:1024px) {
    #container {
        width: 100vw;

    }
}