* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1e292e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: scroll;
}

#container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    background: url('https://www.mentalup.co/samples/img/game-v2/game24/background.png') no-repeat center center fixed;
    background-size: 100% 100%;
    width: 80vw;
    height: 87vh;
}

#box-grid {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-gap: 2vmin;
}

#count-three-second {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;

}

#pause-icon {
    cursor: pointer;
    font-size: 7vmin;
}

#heading {
    font-size: 1.7rem;
    font-weight: bold;
     font-family: sans-serif;
     text-align: center;
    }
#grid-heading-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    width: 80vw;
    position: absolute;
    top: 1%;
    color: #441306;
}

#score-timer {
    display: flex;
    gap: 4vmin;
    font-size: 4vmin;
    font-weight: bold;
}

#modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem;
    color: gray;
}

#modal-memory-card {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}

#modal-container p {
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    opacity: 0.9;

}

#modal-button {
    display: flex;
    gap: 1rem;
}

#play-button,
#refresh-button {
    width: 4rem;
    height: 4rem;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
}

#play-button {
    background-color: greenyellow;
}

#refresh-button {
    background-color: orange;
}

#loader{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;

}
@media only screen and (max-width:1024px) {
    #container {
        width: 100vw;
        height: 100vh;

    }
}

@media (max-width:320px) {
    #modal-button {
        margin-top: -2.5rem;
    }
}